<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FirePair</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!--Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Firebase -->
  <script src='https://www.gstatic.com/firebasejs/3.5.3/firebase.js'></script>

  <!-- CodeMirror -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
 <link rel="stylesheet" href="https://codemirror.net/theme/duotone-dark.css" />

  <link rel="stylesheet" href="https://codemirror.net/theme/isotope.css" />

  <!-- Firepad -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />

  
  <script src="http://codemirror.net/3/mode/python/python.js"></script>
  <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
   <style>
    body {
      font-family: 'HelveticaNeue-Light';
    }
    .msg {
      margin: 10px 0;
      padding: 10px;
      width: 400px;
      background-color: #efefef;
    }
    #username, #text {
      margin: 5px 0px;
    }
    /*
    #post {
      padding: 0.5em 1em;
      background-color: #50b1ff;
      border: none;
      color: #FFF;
    }
    */
    #login {
      padding: 0.5em 1em;
      background-color: #DD4B39;
      border: none;
      color: #FFF;
      cursor: pointer;
    }
    #logout {
      padding: 0.5em 1em;
      background-color: #DD4B39;
      border: none;
      color: #FFF;
      cursor: pointer;
    }

    .firepad {
        width: auto;
        height: 450px;
        background-color: #f62; /* dark orange background */
      }

      /* Note: CodeMirror applies its own styles which can be customized in the same way.
         To apply a background to the entire editor, we need to also apply it to CodeMirror. */
      .CodeMirror {
        background-color: #f9f9f9;
      }
      body {
        background-color: #808080;
      }
  </style>
</head>
<body>
  <div class = "container">
    <button id="login">Login with Google</button><button id="logout">Logout</button><br/><br/>

    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#navbar" aria-expanded = "true" aria-controls = "navbar">
            <span class = "sr-only">Toggle navigation</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <a id = "currentsession" class = "navbar-brand" href='#'>Session Name</a>
        </div>
        <div id = "navbar" class = "navbar-collapse collapse in" aria-expanded= "true">
          <ul class = "nav navbar-nav">
            <li class = "dropdown">
              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" role = "button" aria-haspopup = "true" aria-expanded = "false">
                <span class = "caret"></span>
              </a>
              <ul id = "sessionlist" class = "dropdown-menu">
                <li>
                  <a href="#">Session X1</a>
                </li>
                <li role = "separator" class = "divider"></li>
                <li>
                  <a href="#">Session X2</a>
                </li>
                <li role = "separator" class = "divider"></li>
                <li>
                  <a href="#">Session X3</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class = "nav navbar-nav navbar-right">
            <li>
                <a id = "managesessions" href="#">Manage Sessions</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class = "col-sm-12">
      <div id = "sessionall" class = "panel panel-default">
        <div id = "sessionhead" class = "panel panel-head">
          <h2>Manage Sessions</h2>
          <input id="session" type="text" class = "form-control" placeholder="Session Name"><br/>
          <button id="create_session" class = "btn btn-primary">Create Session</button><br/>
        </div>
        <div class = "panel panel-body">
          <div id="sessions"></div>
        </div>
      </div>
    </div>

    <div class = "col-sm-8">
      <div id = "padall" class = "panel panel-default">
        <div id = "padhead" class = "panel panel-head">
          <h2 class = "panel-title">Code</h2>
        </div>
        <div class = "panel panel-body">
          <div class="firepad CodeMirror" id="firepad"></div>
        </div>
      </div>
    </div>

    <div class = "col-sm-4">
      <div id = "postall" class = "panel panel-default">
        <div id = "posthead" class = "panel panel-head">
          <input id="text" type="text" class = "form-control" placeholder="Message"><br/>
          <button id="post"  class = "btn btn-primary">Post</button><br/>
        </div>
        <div class = "panel panel-body">
          <div id="results"></div>
        </div>
      </div>
    </div>
    
</div>
  <script>
    //GET script ref: http://stackoverflow.com/questions/12049620/how-to-get-get-variables-value-in-javascript
    var $_GET = {};
    if(document.location.toString().indexOf('?') !== -1) {
        var query = document.location
                       .toString()
                       .replace(/^.*?\?/, '')
                       .replace(/#.*$/, '')
                       .split('&');

        for(var i=0, l=query.length; i<l; i++) {
           var aux = decodeURIComponent(query[i]).split('=');
           $_GET[aux[0]] = aux[1];
        }
    }

    var usernameInput = document.querySelector('#username');
    var textInput = document.querySelector('#text');
    var postButton = document.querySelector('#post');
    var firePadInput = document.querySelector('#firepad');
    var sessionInput = document.querySelector('#session');
    var sessionButton = document.querySelector('#create_session');
    var sessionall = document.querySelector('#sessionall');
    var postall = document.querySelector('#postall');
    var padall = document.querySelector('#padall');

    var currentsession = document.querySelector('#currentsession');
    var sessionlist = document.querySelector('#sessionlist');
    var managesessions = document.querySelector('#managesessions');
    var navbar = document.querySelector('.navbar');
    var selectedSessionName  = null;

    var username = null;
    var email = null;
    var uid = null;
    var photourl = null;
    var session_id = null;
    var loginButton = document.querySelector('#login');
    var logoutButton = document.querySelector('#logout');


    var invited_uid = null;
    var invited_session = null;


    postall.style.display = "none";
    postButton.style.display = "none";
    textInput.style.display = "none";

    padall.style.display = "none";
    firePadInput.style.display = "none";

    sessionall.style.display = "none";
    sessionButton.style.display = "none";
    sessionInput.style.display = "none";
    navbar.style.display = "none";

    logoutButton.style.display = "none";
    logoutButton.disabled = true;

    //var myFirebase = new Firebase('https://stvnkrs-apps.firebaseio.com/');
    var config = {
      apiKey: "AIzaSyDfq6mHKGmi-M4YFxSIwkeVD2pIzqYfVt4",
      authDomain: "stvnkrs-apps.firebaseapp.com",
      databaseURL: "https://stvnkrs-apps.firebaseio.com",
      storageBucket: "stvnkrs-apps.appspot.com",
      //messagingSenderId: "825452721952"
    };
    firebase.initializeApp(config);

    

    sessionButton.addEventListener("click", function() {
      console.log("sessionButton.addEventListeners");
      var sessionName = sessionInput.value;
      var sessionOwner = username;

      // A post entry.
      var postData = {
        name: sessionName,
        ownername: sessionOwner,
        owneruid: uid,
        owneremail: email,
        ownerphoto: photourl,
        group: "Empty"
      };
      
      console.log("Current UID: "+uid);
      // Get a key for a new Post.
      var newSessionKey = firebase.database().ref(uid).child('sessions').push().key;

      // Write the new post's data simultaneously in the posts list and the user's post list.
      var updates = {};
      updates['/'+uid+'/sessions/' + newSessionKey] = postData;

      var promise = firebase.database().ref().update(updates);
      sessionInput.value = "";
      console.log(promise)

    });

    /** Function to add a data listener **/
    var startListeningForChats = function() {
      firebase.database().ref(uid+'/sessions/'+session_id+'/post/').orderByKey().limitToLast(4).on('value', function(snapshot) {
        console.log("startListeningForChats :::"+snapshot);
        //clear list before filling it again
        document.getElementById("results").innerHTML = "";
        snapshot.forEach(function(childSnapshot) {
          var msg = childSnapshot.val();
          console.log(msg)

          var msgUsernameElement = document.createElement("b");
          msgUsernameElement.textContent = msg.username;
          
          var msgTextElement = document.createElement("p");
          msgTextElement.textContent = msg.text;

          var panelBodyElement = document.createElement("div");
          panelBodyElement.className = "panel panel-head";
          var panelHeadTitleElement = document.createElement("h2");
          panelHeadTitleElement.className = "panel-title";
          var panelHeadElement = document.createElement("div");
          panelHeadElement.className = "panel panel-head";
          var panelElement = document.createElement("div");
          panelElement.className = "panel panel-info";

          panelBodyElement.appendChild(msgTextElement);
          panelHeadTitleElement.appendChild(msgUsernameElement);
          panelHeadElement.appendChild(panelHeadTitleElement);

          panelElement.appendChild(panelHeadElement);
          panelElement.appendChild(panelBodyElement);
          
          var msgElement = panelElement;
    
          //var msgElement = document.createElement("div");
          //msgElement.className = "msg";
          //msgElement.appendChild(msgUsernameElement);
          //msgElement.appendChild(msgTextElement);

          document.getElementById("results").appendChild(msgElement);

        });
      });
      
    }

    /** Function to add a data listener **/
    var startListeningForSpecifiedChats = function(u_id, s_id) {
      firebase.database().ref(u_id+'/sessions/'+s_id+'/post/').orderByKey().limitToLast(4).on('value', function(snapshot) {
        console.log("startListeningForSpecifiedChats :::"+snapshot);
        //clear list before filling it again
        document.getElementById("results").innerHTML = "";
        snapshot.forEach(function(childSnapshot) {
          var msg = childSnapshot.val();
          console.log(msg)

          var msgUsernameElement = document.createElement("b");
          msgUsernameElement.textContent = msg.username;
          
          var msgTextElement = document.createElement("p");
          msgTextElement.textContent = msg.text;

          var panelBodyElement = document.createElement("div");
          panelBodyElement.className = "panel panel-head";
          var panelHeadTitleElement = document.createElement("h2");
          panelHeadTitleElement.className = "panel-title";
          var panelHeadElement = document.createElement("div");
          panelHeadElement.className = "panel panel-head";
          var panelElement = document.createElement("div");
          panelElement.className = "panel panel-info";

          panelBodyElement.appendChild(msgTextElement);
          panelHeadTitleElement.appendChild(msgUsernameElement);
          panelHeadElement.appendChild(panelHeadTitleElement);

          panelElement.appendChild(panelHeadElement);
          panelElement.appendChild(panelBodyElement);
          
          var msgElement = panelElement;
    
          //var msgElement = document.createElement("div");
          //msgElement.className = "msg";
          //msgElement.appendChild(msgUsernameElement);
          //msgElement.appendChild(msgTextElement);

          document.getElementById("results").appendChild(msgElement);

        });
      });
      
    }

    /** Function to add a data listener **/
    var startListeningForSessionsOnNavBar = function() {
      firebase.database().ref(uid+'/sessions/').orderByKey().limitToLast(4).on('value', function(snapshot) {
        //Empty current list of sessions
        console.log("startListeningForSessionsOnNavBar :::"+snapshot);
        sessionlist.innerHTML = "";
        snapshot.forEach(function(childSnapshot) {
          //create necessary list
          var sessionListElement = document.createElement("li");
          var sessionAElement = document.createElement("a");
          sessionAElement.href = "#";
          sessionAElement.innerHTML = childSnapshot.val().name;
          //to do: add listener for selection of each
          sessionAElement.addEventListener ("click", function() {
            msg = childSnapshot.val();
            //View chat and pad that specifically update the current session
            //set variable with the current session id
            session_id = childSnapshot.getKey();

            //set sessionname at global scope
            selectedSessionName = msg.name;
            //set session name on navbar
            currentsession.innerHTML = selectedSessionName;
            //start listening for list of sessions i.e. NavBar
            startListeningForSessionsOnNavBar();
            
            //show chat and pad
            postall.style.display = "block";
            postButton.style.display = "block";
            textInput.style.display = "block";
            padall.style.display = "block";
            firePadInput.style.display = "block";

            //hide session interface
            sessionall.style.display = "none";

            //show navbar with current session name, invite link, button to go back to sessions and drop down of all sessions

            //Start listening to relevant info
            startListeningForChats();

            /*** FIREPAD INIT ***/
            // Get Firebase Database reference.
            var firepadRef = firebase.database().ref(uid+'/sessions/'+session_id+'/code/');

            //clear firepad
            document.getElementById("firepad").innerHTML = "";

            // Create CodeMirror (with lineWrapping on).
            var codeMirror = CodeMirror(document.getElementById('firepad'), {
                lineNumbers: true,
                mode: {name: "python",
                       version: 2,
                       singleLineStringErrors: false},
                theme: 'isotope',
              });

            // Create Firepad (with rich text toolbar and shortcuts enabled).
            var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
                //richTextShortcuts: true,
                //richTextToolbar: true,
                //defaultText: 'Hello, World!'
              });
          });
          sessionListElement.appendChild(sessionAElement);

          //separator list element
          var sessionSeparatorListElement = document.createElement("li");
          sessionSeparatorListElement.className = "divider";
          sessionSeparatorListElement.setAttribute("role", "separator");

          sessionlist.appendChild(sessionListElement);
          sessionlist.appendChild(sessionSeparatorListElement);
        });
      });
    };

    /** Function to add a data listener **/
    var startListeningForSessions = function() {
      console.log("startListeningForSessions");
      //show chat and pad
      postall.style.display = "none";
      postButton.style.display = "none";
      textInput.style.display = "none";
      padall.style.display = "none";
      firePadInput.style.display = "none";
      //hide session interface
      sessionall.style.display = "block";
      navbar.style.display = "none";

      firebase.database().ref(uid+'/sessions/').orderByKey().limitToLast(4).on('value', function(snapshot) {

        //clear list before filling it again
        document.getElementById("sessions").innerHTML = "";

        snapshot.forEach(function(childSnapshot) {
          var msg = childSnapshot.val();
          console.log(msg)

          var msgUsernameElement = document.createElement("b");
          msgUsernameElement.textContent = msg.name;
          
          var msgTextElement = document.createElement("p");
          msgTextElement.textContent = msg.group.email;

          var msgshareTextElement = document.createElement("p");
          msgshareTextElement.textContent = "Share the following secret link to invite people to this session: \n"+window.location+"?u="+uid+"&s="+childSnapshot.getKey();

          // 1. Create the button
          var msgButton = document.createElement("button");
          msgButton.innerHTML = "View Session";

          // 2. Append somewhere
          //var body = document.getElementsByTagName("body")[0];
          //body.appendChild(msgButton);

          // 3. Add event handler
          msgButton.addEventListener ("click", function() {
            console.log("msgButton.addEventListener {View Session}");
      //show chat and pad
            //View chat and pad that specifically update the current session
            //set variable with the current session id
            session_id = childSnapshot.getKey();

            //set sessionname at global scope
            selectedSessionName = msg.name;
            //set session name on navbar
            currentsession.innerHTML = selectedSessionName;
            //start listening for list of sessions i.e. NavBar

            //show navbar
            navbar.style.display = "block";
            startListeningForSessionsOnNavBar();
            
            //show chat and pad
            postall.style.display = "block";
            postButton.style.display = "block";
            textInput.style.display = "block";
            padall.style.display = "block";
            firePadInput.style.display = "block";

            //hide session interface
            sessionall.style.display = "none";

            //show navbar with current session name, invite link, button to go back to sessions and drop down of all sessions

            //Start listening to relevant info
            startListeningForChats();

            /*** FIREPAD INIT ***/
            // Get Firebase Database reference.
            var firepadRef = firebase.database().ref(uid+'/sessions/'+session_id+'/code/');

            //clear firepad
            document.getElementById("firepad").innerHTML = "";

            // Create CodeMirror (with lineWrapping on).
            var codeMirror = CodeMirror(document.getElementById('firepad'), {
                lineNumbers: true,
                mode: {name: "python",
                       version: 2,
                       singleLineStringErrors: false},
                theme: 'isotope',
              });

            // Create Firepad (with rich text toolbar and shortcuts enabled).
            var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
                //richTextShortcuts: true,
                //richTextToolbar: true,
                //defaultText: 'Hello, World!'
              });
          });
          
          // 1. Create the button
          var delButton = document.createElement("button");
          delButton.innerHTML = "Delete";

          // 3. Add event handler
          delButton.addEventListener ("click", function() {
            console.log("delButton.addEventListener {Delete Session}");
            if (confirm("Do you really want to delete: "+msg.name)){
              //View chat and pad that specifically update the current session
              //set variable with the current session id
              session_id = childSnapshot.getKey();
              
              //clear firepad
              document.getElementById("firepad").innerHTML = "";
              //clear chats
              document.getElementById("results").innerHTML = "";
              //show chat and pad
              postall.style.display = "none";
              postButton.style.display = "none";
              textInput.style.display = "none";
              padall.style.display = "none";
              firePadInput.style.display = "none";

              var promise = firebase.database().ref(uid+'/sessions/').child(session_id).remove();
              console.log(promise)
            }
          });
          
          var panelFootElement = document.createElement("div");
          panelFootElement.className = "panel panel-foot";
          var panelBodyElement = document.createElement("div");
          panelBodyElement.className = "panel panel-head";
          var panelHeadTitleElement = document.createElement("h2");
          panelHeadTitleElement.className = "panel-title";
          var panelHeadElement = document.createElement("div");
          panelHeadElement.className = "panel panel-head";
          var panelElement = document.createElement("div");
          panelElement.className = "panel panel-info";
          msgButton.className = "btn btn-success";
          delButton.className = "btn btn-danger";

          panelBodyElement.appendChild(msgTextElement);
          panelBodyElement.appendChild(msgshareTextElement);
          panelFootElement.appendChild(msgButton);
          panelFootElement.appendChild(delButton);
          panelHeadTitleElement.appendChild(msgUsernameElement);
          panelHeadElement.appendChild(panelHeadTitleElement);

          panelElement.appendChild(panelHeadElement);
          panelElement.appendChild(panelBodyElement);
          panelElement.appendChild(panelFootElement);
          
          var msgElement = panelElement;
          /*
          msgElement.className = "msg";
          msgElement.appendChild(msgUsernameElement);
          msgElement.appendChild(msgTextElement);
          msgElement.appendChild(msgshareTextElement);
          msgElement.appendChild(msgButton);
          msgElement.appendChild(delButton);
          */
          

          document.getElementById("sessions").appendChild(msgElement);

        });
      });
      //Add listener to the posting of chats
      postButton.addEventListener("click", function() {
        console.log("postButton.addEventListener {Post Chat} ::: {Normal Sessions}");
        var msgUser = email;//username;
        var msgText = textInput.value;
        // A post entry.
        var postData = {
          username: msgUser,
          text: msgText,
        };
        console.log("POSTING... Current UID: "+uid)
        // Get a key for a new Post.
        var newPostKey = firebase.database().ref(uid+'/sessions/'+session_id).child('post').push().key;

        // Write the new post's data simultaneously in the posts list and the user's post list.
        var updates = {};
        updates[uid+'/sessions/'+session_id+'/post/' + newPostKey] = postData;
        var promise = firebase.database().ref().update(updates);
        textInput.value = "";
        console.log(promise)
      });
      managesessions.addEventListener ("click", function() {
        //show first page i.e start listening to sessions
        startListeningForSessions();
        //startListeningForSessions();
      });
    }

/** Function to add a data listener **/
    var startListeningForSpecifiedSession = function(u_id, s_id) {
      console.log("startListeningForSpecifiedSession ::: UID: "+u_id+" SID: "+s_id);
      firebase.database().ref(u_id+'/sessions/'+s_id).once('value', function(snapshot) {

        //clear list before filling it again
        document.getElementById("sessions").innerHTML = "";

        var msg = snapshot.val();

        var msgUsernameElement = document.createElement("b");
        msgUsernameElement.textContent = msg.name;
          
        var msgTextElement = document.createElement("p");
        msgTextElement.textContent = msg.group.email;
            
        //show chat and pad
        postall.style.display = "block";
        postButton.style.display = "block";
        textInput.style.display = "block";
        padall.style.display = "block";
        firePadInput.style.display = "block";

        //Start listening to relevant info
        startListeningForSpecifiedChats(u_id, s_id);

        /*** FIREPAD INIT ***/
        // Get Firebase Database reference.
        var firepadRef = firebase.database().ref(u_id+'/sessions/'+s_id+'/code/');

        //clear firepad
        document.getElementById("firepad").innerHTML = "";

        // Create CodeMirror (with lineWrapping on).
        var codeMirror = CodeMirror(document.getElementById('firepad'), {
            lineNumbers: true,
            mode: {name: "python",
                   version: 2,
                   singleLineStringErrors: false},
            theme: 'isotope',
         });

        // Create Firepad (with rich text toolbar and shortcuts enabled).
        var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
                //richTextShortcuts: true,
                //richTextToolbar: true,
                //defaultText: 'Hello, World!'
        });
        

        var panelBodyElement = document.createElement("div");
        panelBodyElement.className = "panel panel-head";
        var panelHeadTitleElement = document.createElement("h2");
        panelHeadTitleElement.className = "panel-title";
        var panelHeadElement = document.createElement("div");
        panelHeadElement.className = "panel panel-head";
        var panelElement = document.createElement("div");
        panelElement.className = "panel panel-info";

        panelBodyElement.appendChild(msgTextElement);
        panelHeadTitleElement.appendChild(msgUsernameElement);
        panelHeadElement.appendChild(panelHeadTitleElement);

        panelElement.appendChild(panelHeadElement);
        panelElement.appendChild(panelBodyElement);
          
        var msgElement = panelElement;
       /*
        var msgElement = document.createElement("div");
        msgElement.className = "msg";
        msgElement.appendChild(msgUsernameElement);
        msgElement.appendChild(msgTextElement);
        */
        document.getElementById("sessions").appendChild(msgElement);

      });
      //Add listener to the posting of chats
      postButton.addEventListener("click", function() {
        console.log("postButton.addEventListener {Post Chat} ::: {Specified Session}");
        var msgUser = email;//username;
        var msgText = textInput.value;
          
        // A post entry.
        var postData = {
          username: msgUser,
          text: msgText,
        };
        console.log("POSTING... Current UID: "+uid)
        // Get a key for a new Post.
        var newPostKey = firebase.database().ref(u_id+'/sessions/'+s_id).child('post').push().key;

        // Write the new post's data simultaneously in the posts list and the user's post list.
        var updates = {};
        updates[u_id+'/sessions/'+s_id+'/post/' + newPostKey] = postData;
        var promise = firebase.database().ref().update(updates);
        textInput.value = "";
        console.log(promise)
      });
    }


    loginButton.addEventListener("click", function() {
      console.log("loginButton.addEventListener");
      /*New Implementaion of google sign in*/
      var provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider).then(function(result) {
        // This gives you a Google Access Token. You can use it to access the Google API.
        //var token = result.credential.accessToken;
        // The signed-in user info.
        var user = result.user;
        console.log(result);
        username = result.user.displayName;
        email = result.user.email;
        uid =  result.user.uid;
        photourl = result.user.photoURL;
        //userexists = false;

        // A post entry.
        var postData = {
          name: username,
          email: email,
          uid: uid,
          photo: photourl
        };

        firebase.database().ref(uid).once('value', function(snapshot) {
          console.log(snapshot.val());
          if (snapshot.val() != null){
            //userexists = true;
            loginButton.textContent = "Logged in as " + email;
            loginButton.disabled = true;
            logoutButton.style.display = "block";
            logoutButton.disabled = false;
          }else{
            //Create new
            // Get a key for a new Post.
            var newKey = uid;
            // Write the new post's data simultaneously in the posts list and the user's post list.
            var updates = {};
            updates[newKey] = postData;
            var promise = firebase.database().ref().update(updates);
            console.log(promise)

            loginButton.textContent = "Logged in as " + email;
            loginButton.disabled = true;
            logoutButton.style.display = "block";
            logoutButton.disabled = false;
          }
        });

        if (($_GET['u'] !== 'undefined') && (!$_GET['u']) && ($_GET['s'] !== 'undefined') && (!$_GET['s'])){
          //show session creation functionality first
          sessionall.style.display = "block";
          sessionButton.style.display = "block";
          sessionInput.style.display = "block";

          // Start listening for data
          startListeningForSessions();
        }else{
          invited_uid = $_GET['u'].trim();
          invited_session = $_GET['s'].trim();
          alert("Welcome to a pair programming session");

          //add user to group under the specified secret keys
          var newPostKey = invited_uid;

          // Write the new post's data simultaneously in the posts list and the user's post list.
          var updates = {};
          updates[invited_uid+'/sessions/'+invited_session+'/group/'+newPostKey] = postData;
          var promise = firebase.database().ref().update(updates);
          console.log(promise);

          //display session info

          //display relevant chat

          //display relevant pad
          startListeningForSpecifiedSession(invited_uid, invited_session);   
        }
        // ...
      }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(error);
        // The email of the user's account used.
        var email = error.email;
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential;
        // ...
      });
    });

    logoutButton.addEventListener("click", function() {
      console.log("logoutButton.addEventListener");
      firebase.auth().signOut().then(function() {
        console.log('Signed Out');
        location.reload();
        //if invited remove user from group/other list of active participants
      }, function(error) {
        console.error('Sign Out Error', error);
      });
    });

  </script>
</body>
</html>